.container {
    background: white;
    border: 1px solid #e5e6e9;
    border-radius: 5px;
    max-width: 769px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 40px;
}

.background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: preloadAnimation;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #e0f7fa, #cef0f5);
    display: flex;
	min-height: 100px;
}
@keyframes preloadAnimation{
    0%{
        background-position: -769px 0
    }
    100%{
        background-position: 769px 0
    }
}

.right {
    flex: 1;
}

.image {
    width: 120px;
    height: 120px;
    background: transparent;
}

.bar {
    height: 22px;
    background: transparent;
    position: relative;
    width: 100%;
}

/* .bar::before {
    position: absolute;
    content: "";
    left: 0;
    width: 2rem;
    height: 22px;
    background: white;
} */
.bar::after {
    position:absolute;
    right: 0;
    height: 22px;
    content: "";
    background: white
}