.create-first {
    margin: auto;
    margin-top: 40px;
    background: linear-gradient(181deg, cyan, transparent);
    height: 80px;
    width: 100%;
    border-radius: 20px;
    border: none;
    box-shadow: 15px 20px 20px 0px slategray;
    font-family: 'Mukto', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}
.create-first:hover {
    background: linear-gradient(96deg, white, lightpink);
    padding: 20px 0 15px 20px;
}