:root {
    --gaming-font: 'Pixelify Sans', sans-serif;
    --gaming-font2: font-family: 'Rubik', sans-serif;
    --main-font: 'Mukta', sans-serif;
}

.button-container {
    width: 125px;
    height: 118px;
    text-align: center;
    background: none;
    border-radius: 100%;
    border: none;
    margin: auto;
    position: relative;
    top: -40px;
    right: -285px;
}
.button-container button {
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 100%;
    border: none;
}

.button-container img {
    width: 100%;
    height: 100%;
}