.list-todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 50px 0;
    background: linear-gradient(96deg, white, cyan);
    border: solid 1px black;
    border-radius: 12px;
}
.list-todo-item:hover {
    background: linear-gradient(96deg, white, lightpink);
    padding-left: 5px;
    padding-bottom: 5px;
    box-shadow: 15px 5px 5px gray;
}

.list-todo-item span {
    margin: 8px;
}

.todo-text {
    font-family: var(--main-font);
    font-size: larger;
    color: black;
    font-weight: 700;
    cursor: default;
}

.green-check, .todo-delete {
    width: 10%;
    height: auto;
    cursor: pointer
}
.todo-delete {
    width: 10%;
    height: 10%;
    position: relative;
    top: -35px;
    right: -30px;
    box-shadow: 10px 5px 5px gray;
    background: linear-gradient(lightpink, white);
    border-radius: 20%;
}

.green-check img {
    width: 100%;
    height: 100%;
}
.todo-delete img {
    width: 100%;
    height: 100%;
    top: 0;
}