:root {
    --gaming-font: 'Pixelify Sans', sans-serif;
    --gaming-font2: font-family: 'Rubik', sans-serif;
    --main-font: 'Mukta', sans-serif;
}

.todo-list {
    list-style: none;
    font-family: var(--main-font);
    margin: 0;
    padding: 0 0 56px;
}