.todo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    background: linear-gradient(96deg, white, cyan);
    border-radius: 12px;
    box-shadow: 0px 5px 50px lightgray;
}
.todo-item:hover {
    background: linear-gradient(96deg, white, lightpink);
    padding-left: 5px;
    padding-bottom: 5px;
    box-shadow: 15px 5px 5px gray;
}

.todo-item-text {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    text-align: center;
    font-size: x-large;
}
.todo-item-text--complete {
    text-decoration: line-through;
}

.icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.icon-check {
    position: absolute;
    left: 12px;
}
.icon-check:hover {
    color: #4caf50;
}
.icon-check--active {
    color: #4caf50;
}

.icon-delete {
    position: relative;
    top: -24px;
    right: 0;
}
.icon-delete:hover {
    color: red;
    width: 60px;
    height: 60px;
}

