.todo-counter {
    font-family: 'Mukto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    margin: 0;
    padding: 48px;
}

.todo-counter span {
  font-weight: 700;
}