:root {
    --gaming-font: 'Pixelify Sans', sans-serif;
    --gaming-font2: font-family: 'Rubik', sans-serif;
    --main-font: 'Mukta', sans-serif;
}

.todo-list {
    list-style: none;
    font-family: var(--main-font);
    width: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}