:root {
    --gaming-font: 'Pixelify Sans', sans-serif;
    --gaming-font2: font-family: 'Rubik', sans-serif;
    --main-font: 'Mukta', sans-serif;
}

.todo-author {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--gaming-font);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
}