.form-create-todo {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-textarea {
    width: 95%;
    height: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    text-decoration: none;
    resize: none;
    box-shadow: 0px 20px 5px 5px rgba(128, 128, 128, 0.3);
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding-left: 8px;
    padding-top: 8px;
    border: solid 1px gray;
}
.form-textarea::placeholder {
    font-family: 'Poppins', sans-serif;
}

.form-buttons-container {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-btn {
    margin: 0;
    height: 100%;
    width: 40%;
    background: linear-gradient(90deg, lightcyan, lightpink);
    cursor: pointer;
}

.btn-form-create {
    margin-left: 20px;
    color: #61DAFA;
    font-size: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-form-cancel {
    margin-right: 20px;
    color: red;
    font-size: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}