:root {
  --gaming-font: 'Pixelify Sans', sans-serif;
  --gaming-font2: 'Rubik', sans-serif;
  --main-font: 'Mukta', sans-serif;
}

body {
  margin: 0;
  padding: 20px;
  background: linear-gradient(70deg, rgb(71, 216, 197), rgba(236, 64, 64, 0.527));
  text-align: center;
  
}
