:root {
  --gaming-font: 'Pixelify Sans', sans-serif;
  --gaming-font2: font-family: 'Rubik', sans-serif;
  --main-color: linear-gradient(70deg, lightblue, lightgray);
}

body {
  margin: 0;
  text-align: center;
}
