:root {
  --gaming-font: 'Pixelify Sans', sans-serif;
  --gaming-font2: 'Rubik', sans-serif;
  --main-color: linear-gradient(70deg, lightblue, lightgray);
  --general-font: 'Poppins', sans-serif;
  --secondary-font: 'Mukto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(lightblue, lightpink);
  font-family: var(--general-font);
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
