.todo-counter {
    font-family: 'Mukto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    margin: 0;
    padding: 48px;
    padding-bottom: 10px;
}

.todo-counter span {
  font-weight: 700;
}

.percentage-container {
  background-color: whitesmoke;
  width: 100%;
  border-radius: 40px;
  margin-bottom: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  /* padding-left: 20px; */
}